# By madcat, 2014-05-28
# Rules for unconfined_apps, currently same rules to untrusted_apps

type unconfined_app, domain;
app_domain(unconfined_app)
net_domain(unconfined_app)
bluetooth_domain(unconfined_app)

# allow unconfined_app to access their own data
allow unconfined_app unconfined_app_data_file:dir create_dir_perms;
allow unconfined_app unconfined_app_data_file:notdevfile_class_set create_file_perms;
allow unconfined_app unconfined_app_data_file:file rx_file_perms;

allow unconfined_app tun_device:chr_file rw_file_perms;

# ASEC
allow unconfined_app asec_apk_file:dir { getattr };
allow unconfined_app asec_apk_file:file r_file_perms;
# Execute libs in asec containers.
allow unconfined_app asec_public_file:file execute;

# Allow the allocation and use of ptys
# Used by: https://play.google.com/store/apps/details?id=jackpal.androidterm
create_pty(unconfined_app)

# Used by Finsky / Android "Verify Apps" functionality when
# running "adb install foo.apk".
# TODO: Long term, we don't want apps probing into shell data files.
# Figure out a way to remove these rules.
allow unconfined_app shell_data_file:file r_file_perms;
allow unconfined_app shell_data_file:dir r_dir_perms;
